apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "vauhtijuoksu-api.fullname" . }}
  labels:
    {{- include "vauhtijuoksu-api.labels" . | nindent 4 }}
  annotations:
    {{- if eq .Values.ingress "nginx" }}
    # To work on kind cluster
    nginx.ingress.kubernetes.io/server-alias: api.localhost
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/use-regex: "true"
    {{- end }}
spec:
  {{- if eq .Values.ingress "traefik"}}
  ingressClassName: traefik
  {{- end }}
  tls:
    - hosts:
        - api.dev.vauhtijuoksu.fi
  rules:
    - host: api.dev.vauhtijuoksu.fi
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: vauhtijuoksu-api
                port:
                  number: 8080
